node_modules
dist
build
.cache
.yarn
.pnp.*
*.log
.dockerignore
.gitignore
Dockerfile
docker-compose.yml
node_modules
dist
built
log
data.json
.env
.vscode
docs
/public/css/spectre.min.css
/public/css/spectre-exp.min.css
/public/css/spectre-icons.min.css
