services:
  app:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: app
      restart: unless-stopped
      ports:
        - "8080:8080"
      volumes:
        - ./.env:/app/.env:ro
        - ./log:/app/log 
      depends_on:
        db:
          condition: service_healthy
      environment:
        - NODE_ENV=production
        - LISTEN=tcp
        - HOST=0.0.0.0
        - DATABASE_URL=postgres://postgres:supersecretpassword@db:5432/infernal_db

  db:
    image: postgres:15-alpine
    container_name: app_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: supersecretpassword
      POSTGRES_DB: infernal_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pgdata: